{% extends 'main.html' %}

{% block content %}
    <h1 class="text-3xl font-semibold">Forgotton your password?</h1>
    <p class="text-sm text-gray-500">Enter your email address below, and we'll email instructions for setting a new one</p>
    <form class="flex flex-col gap-2" method="POST">
        {% csrf_token %}
        <div class="flex flex-col">
            <label class="text-[12px] font-bold" for="email">New password</label>
            {{form.new_password1}}
         </div>
         <ul class="list-disc ml-6">
             <li><p class="text-[12px]">Your password can’t be too similar to your other personal information.</p></li>
             <li><p class="text-[12px]"> Your password must contain at least 8 characters.</p></li>
             <li><p class="text-[12px]">Your password can’t be a commonly used password.</p></li>
             <li><p class="text-[12px]"> Your password can’t be entirely numeric.</p></li>
         </ul>
        <div class="flex flex-col">
            <label class="text-[12px] font-bold" for="email">New password confirmation</label>
            {{form.new_password2}}
         </div>
         {% for error in form.new_password2.errors %}
           <p class="text-[12px] text-red-500">{{error}}</p>
         {% endfor %}
        <button type="submit" class="w-full bg-primary text-white py-2 rounded">Change password</button>
    </form>
    <script>
        const new1 = document.getElementById("id_new_password1")
        const new2 = document.getElementById("id_new_password2")
        new1.placeholder = "New password"
        new2.placeholder = "New password confirmation"
        new1.classList.add("bb-input")
        new2.classList.add("bb-input")
    </script>
{% endblock content %}