{%extends 'main.html'%}

{% block content%}
      <div class="h-full w-full lg:w-1/2">
        <div class="flex flex-col justify-center gap-4">
            <h1 class="text-3xl font-semibold">Welcome to Bank Buddy</h1>
            <p class="text-sm text-gray-500">Welcome to Bank Buddy! Please enter your details</p>
            <form class="flex flex-col gap-2" method="POST">
               {% csrf_token %}
               <div class="flex flex-col gap-4">
                  <div class="flex flex-col">
                     <label class="text-[12px] font-semibold" for="bank">Bank</label>
                     {{form.bank}}
                  </div>
                  <div class="flex flex-col">
                     <label class="text-[12px] font-semibold" for="first_name">Firstname</label>
                     {{form.first_name}}
                  </div>
                  <div class="flex flex-col">
                     <label class="text-[12px] font-semibold" for="last_name">Lastname</label>
                     {{form.last_name}}
                  </div>
                  <div class="flex flex-col">
                     <label class="text-[12px] font-semibold" for="phone">Phone</label>
                     {{form.phone}}
                  </div>
                  <div class="flex flex-col">
                     <label class="text-[12px] font-semibold" for="email">Email</label>
                     {{form.email}}
                  </div>
                  <div class="flex flex-col">
                     <label class="text-[12px] font-semibold" for="email">Password</label>
                     {{form.password}}
                  </div>
               </div>
               <button type="submit" class="w-full bg-primary text-white py-2 rounded">Sign up</button>
            </form>
            <p class="text-gray-500 text-sm">Already have an account? <a class="text-primary" href="/signin">Sign in</a></p>
        </div>
        
      </div>
      <div class="hidden lg:flex lg:flex-col lg:w-1/2"></div>
{% endblock content %}