{%extends 'main.html'%}

{% block content%}
    <h1 class="text-2xl font-semibold">Create customer</h1>
    <form class="flex flex-col gap-2" method="POST">
        {% csrf_token %}
        <div class="flex flex-col gap-4">
            <div class="flex flex-col">
                <label class="text-[12px] font-semibold" for="bank">Bank</label>
                {{form.bank}}
                {% for error in form.bank.errors %}
                    <p class="text-red-500 text-[12px]">{{error}}</p>
                {% endfor %}
            </div>
            <div class="flex flex-col">
                <label class="text-[12px] font-semibold" for="first_name">Firstname</label>
                {{form.first_name}}
                {% for error in form.first_name.errors %}
                    <p class="text-red-500 text-[12px]">{{error}}</p>
                {% endfor %}
            </div>
            <div class="flex flex-col">
                <label class="text-[12px] font-semibold" for="last_name">Lastname</label>
                {{form.last_name}}
                {% for error in form.last_name.errors %}
                    <p class="text-red-500 text-[12px]">{{error}}</p>
                {% endfor %}
            </div>
            <div class="flex flex-col">
                <label class="text-[12px] font-semibold" for="phone">Phone</label>
                {{form.phone}}
                {% for error in form.phone.errors %}
                    <p class="text-red-500 text-[12px]">{{error}}</p>
                {% endfor %}
            </div>
            <div class="flex flex-col">
                <label class="text-[12px] font-semibold" for="email">Email</label>
                {{form.email}}
                {% for error in form.email.errors %}
                    <p class="text-red-500 text-[12px]">{{error}}</p>
                {% endfor %}
            </div>
            <div class="flex flex-col">
                <label class="text-[12px] font-semibold" for="email">Password</label>
                {{form.password}}
                {% for error in form.password.errors %}
                    <p class="text-red-500 text-[12px]">{{error}}</p>
                {% endfor %}
            </div>
        </div>
        {% if error %}
            <p class="text-red-500 text-[12px]">{{error}}</p>
        {% endif %}
        <button type="submit" class="w-full bg-primary text-white py-2 rounded">Create</button>
    </form>
{% endblock content %}