<nav class="flex flex-row w-screen fixed bottom-0 bg-white shadow-main lg:hidden py-4">
    <ul id="menu-items" class="flex flex-row w-full justify-around">
      <li class="active-menu-item">
        <a href="/dashboard/"><i class="fa-solid fa-house text-2xl"></i></a>
      </li>
      <li class="menu-item">
        <a href="/accounts/"><i id="accounts" class="fa-solid fa-wallet text-2xl"></i></a>
      </li>
      <li class="menu-item">
       <a href="/transfer/"> <i id="transfer" class="fa-solid fa-money-bill-transfer text-2xl"></i></a>
      </li>
      <li class="menu-item">
        <a href="/loans"><i id="loans" class="fa-solid fa-sack-dollar text-2xl"></i></a>
      </li>
      <li class="menu-item">
        <a href="/profile/"><i id="profile" class="fa-solid fa-user text-2xl"></i></a>
      </li>
    </ul>
  </nav>
  