<nav class="w-48 h-screen px-6 bg-white shadow-main hidden lg:flex lg:flex-col">
  <div class="h-20 mt-8">
    <h1 class="text-2xl text-primary">Bank buddy</h1>
  </div>
  <ul id="menu-items" class="flex flex-col gap-10 h-full my-12 justify-between">
   <div class="flex flex-col gap-10">
    <li class="menu-item">
      <a href="/dashboard/" class="flex flex-row gap-2 items-center hover:text-primary duration-300 transition-all">
        <i class="fa-solid fa-house"></i>
        <p class="text-md">Dashboard</p>
      </a>
    </li>
    <li class="menu-item">
      <a href="/accounts/" class="flex flex-row gap-2 items-center hover:text-primary duration-300 transition-all">
        <i class="fa-solid fa-wallet"></i>
        <p class="text-md">Accounts</p>
      </a>
    </li>
    <li class="menu-item">
      <a href="/transfer/" class="flex flex-row gap-2 items-center hover:text-primary duration-300 transition-all">
        <i class="fa-solid fa-money-bill-transfer"></i>
        <p class="text-md">Transfer money</p>
      </a>
    </li>
    <li class="menu-item">
      <a href="/loans/" class="flex flex-row gap-2 items-center hover:text-primary duration-300 transition-all">
        <i class="fa-solid fa-sack-dollar"></i>
        <p class="text-md">Loans</p>
      </a>
    </li>
    <li class="menu-item">
      <a href="/profile/" class="flex flex-row gap-2 items-center hover:text-primary duration-300 transition-all">
        <i class="fa-solid fa-user"></i>
        <p class="text-md">Profile</p>
      </a>
    </li>
   </div>
   <div>
    <li class="menu-item">
      <a href="/signout/" class="flex flex-row gap-2 items-center hover:text-primary duration-300 transition-all">
        <i class="fa-solid fa-arrow-right-from-bracket rotate-180"></i>
        <p class="text-md">Sign out</p>
      </a>
    </li>
   </div>
  </ul>
</nav>
