{% extends "main.html" %}

{% block content %}
    <h1 class="text-2xl font-semibold">Create a new account</h1>
    <form class="flex flex-col gap-4" method="POST">
        {% csrf_token %}
        <div class="flex flex-col">
            <label class="text-[12px] font-semibold" for="name">Account name</label>
            {{form.name}}
        </div>
        <div class="flex flex-col">
            <label class="text-[12px] font-semibold" for="name">Type</label>
            {{form.type}}
        </div>
        <button type="submit" class="w-full bg-primary text-white py-2 rounded-lg">Save</button>
    </form>
{% endblock %}