{% extends 'main.html' %}


{%block content%}
    <div class="flex flex-col h-full relative">
        <h1 class="text-2xl font-semibold">Loans</h1>
        {% for loan in loans %}
        <a href="/loans/{{loan.account_no}}" class="w-full mt-4 h-40 bg-gradient-to-r from-[#485563] to-[#29323c] shadow-xl rounded-lg p-6">
            <div class="flex flex-row h-full justify-between">
              <div class="flex flex-col justify-between">
                 <div>
                    <h2 class="text-xl text-white font-semibold">{{loan.name}}</h2>
                    <p class="text-white text-[12px]">Status: {{loan.get_status_display}}</p>
                 </div>
                  <div>
                      <p class="text-[12px] text-white font-light">Total debt</p>
                      <h3 class="text-lg text-white font-semibold">${{loan.total_debt}}</h3>
                  </div>
             </div>
              <div class="flex flex-col justify-between">
                  <div class="flex flex-col items-center justify-center">
                      <h3 class="text-lg md:text-2xl text-white">{{loan.percent_finish}}%</h3>
                  </div>
                  <div class="flex flex-col">
                      <p class="text-white text-[12px]">Total loan</p>
                      <h3 class="text-lg text-white font-semibold">${{loan.amount}}</h3>
                  </div>
              </div>
            </div>
          </a>
        {%empty%}
        {% if customer %}
            {% if customer.rank <= 1 %}
                <p class="text-sm text-gray-400">You must be a Silver or Gold customer to take loans</p>
            {%else%}
                <p class="text-sm text-gray-400">You have no loans</p>
            {% endif %}
        {% endif %}
        {% endfor %}
        {% if customer %}
            {% if customer.rank > 1 %}
                <a href="/loans/apply" class="bg-primary absolute bottom-0 right-0 flex items-center justify-center rounded-full w-16 h-16 z-10 shadow-2xl">
                    <i class="fa-solid fa-file-signature pl-2 text-3xl text-white"></i>
                </a>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}