{% extends 'main.html' %}


{%block content%}
    <div class="flex flex-col relative h-full">
        <h1 class="text-2xl font-semibold">Loan</h1>
        <div class="w-full mt-4 h-40 bg-gradient-to-r from-[#485563] to-[#29323c] shadow-xl rounded-lg p-6">
            <div class="flex flex-col justify-between h-full">
                <div>
                    <h2 class="text-xl text-white font-semibold">{{loan.name}}</h2>
                    <p class="text-white text-[12px]">Status: {{loan.get_status_display}}</p>
                 </div>
                <div>
                    <p class="text-[12px] text-white font-light">Total debt</p>
                    <h3 class="text-lg text-white font-semibold">${{loan.total_debt}}</h3>
                </div>
           </div>
        </div>
        <div class="flex flex-row justify-between mt-2 mb-px">
            <p class="text-sm font-semibold">Total debt</p>
            <p class="text-black font-semibold text-[12px]">${{loan.total_paid}} <span class="text-[12px] text-gray-400">/ {{loan.amount}}</span></p>
        </div>
       <div>
            <div class="relative w-full bg-gray-300 h-2 rounded-xl">
                <div id="progress-bar" style="width: {{loan.percent_finish}}%" class="bg-black h-2 rounded-xl"/>
            </div>
       </div>

        <div class="flex flex-row justify-between items-center my-2">
            <h3 class="text-md font-semibold">Payments</h3>
           {% if employee.role == 2 %}
           <form method="POST">
               {% csrf_token %}
                {{form.status}}
           </form>
           {% endif %}
        </div>
        <div class="flex flex-col gap-4 mt-4">
            {% for transaction in loan.transactions  %}
                <div class="flex flex-row w-full items-center gap-4">
                    <i class="fa-solid fa-credit-card"></i>
                    <div class="w-full">
                        <h4 class="text-sm font-semibold">{{transaction.message}}</h4>
                        <p class="text-[12px] text-gray-400">{{transaction.created_at|date:"d M Y"}}</p>
                    </div>
                    <p class="text-sm font-semibold text-red-600">$-{{transaction.amount}}</p>
                </div>
            {%empty%}
                {% if employee.is_staff %}
                    <p class="text-sm text-gray-400">Customer has no payments</p>
                {% else %}
                    <p class="text-sm text-gray-400">You have no payments</p>
                {% endif %}
            {% endfor %}
        </div>
       {% if loan.status == 2 and loan.percent_finish != 100 and not employee.is_staff %}
            <a href="/loans/{{loan.account_no}}/payment" class="bg-primary absolute bottom-0 right-0 flex items-center justify-center rounded-full w-16 h-16 z-10 shadow-2xl">
                <i class="fa-solid fa-credit-card text-3xl text-white"></i>
            </a>
       {% endif %}
    </div>
{% endblock %}

