{% extends 'main.html' %}


{%block content%}
    <div class="flex flex-col h-full relative">
        <h1 class="text-2xl font-semibold">Loans</h1>
        {% for loan in loans %}
        <a href="/loans/{{loan.account_no}}" class="w-full mt-4 h-40 bg-gradient-to-r from-[#485563] to-[#29323c] shadow-xl rounded-lg p-6">
            <div class="flex flex-row h-full justify-between">
              <div class="flex flex-col justify-between">
                 <div>
                    <h2 class="text-xl text-white font-semibold">{{loan.name}}</h2>
                    <p class="text-white text-[12px]">Status: {{loan.get_status_display}}</p>
                 </div>
                  <div>
                      <p class="text-[12px] text-white font-light">Total debt</p>
                      <h3 class="text-lg text-white font-semibold">${{loan.total_debt}}</h3>
                  </div>
             </div>
              <div class="flex flex-col justify-between">
                  <div class="flex flex-col items-center justify-center">
                      <h3 class="text-lg md:text-2xl text-white">{{loan.percent_finish}}%</h3>
                  </div>
                  <div class="flex flex-col">
                      <p class="text-white text-[12px]">Total loan</p>
                      <h3 class="text-lg text-white font-semibold">${{loan.amount}}</h3>
                  </div>
              </div>
            </div>
          </a>
        {%empty%}
            {% if user.is_staff %}
                <p class="text-sm text-gray-400">Your bank has no loans</p>
            {% endif %}
            {% if customer %}
                {% if customer.rank <= 1 %}
                    <p class="text-sm text-gray-400">You must be a Silver or Gold customer to take loans</p>
                {%else%}
                    <p class="text-sm text-gray-400">You have no loans</p>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% if customer %}
            {% if customer.rank > 1 %}
                <a href="/loans/apply" class="bg-primary absolute bottom-12 right-0 flex items-center justify-center rounded-full w-16 h-16 z-10 shadow-2xl">
                    <i class="fa-solid fa-file-signature pl-2 text-3xl text-white"></i>
                </a>
            {% endif %}
        {% endif %}
        {% if loans.has_previous %}
        <div class="absolute left-6 bottom-0">
            <a class="bg-white p-2 rounded-lg shadow-md" href="?page=1">&laquo; first</a>
            <a class="bg-white p-2 rounded-lg shadow-md" href="?page={{ loans.previous_page_number }}">prev</a>
        </div>
        {% endif %}
    
        <div class="absolute bottom-0 left-1/2 -translate-x-1/2">
            <p class="text-[12px]">Page {{ loans.number }} of {{ loans.paginator.num_pages }}.</p>
        </div>
    
        {% if loans.has_next %}
            <div class="absolute right-6 bottom-0">
                <a class="bg-white p-2 rounded-lg shadow-md" href="?page={{ loans.next_page_number }}">next</a>
                <a class="bg-white p-2 rounded-lg shadow-md" href="?page={{ loans.paginator.num_pages }}">last &raquo;</a>
            </div>
        {% endif %}
        {% if loans.has_next %}
            <div class="absolute right-6 bottom-0">
                <a class="bg-white p-2 rounded-lg shadow-md" href="?page={{ loans.next_page_number }}">next</a>
                <a class="bg-white p-2 rounded-lg shadow-md" href="?page={{ loans.paginator.num_pages }}">last &raquo;</a>
            </div>
        {% endif %}
    </div>
{% endblock %}